$black: rgba(25, 25, 25, 1);
$black-opacity-90: rgba(25, 25, 25, 0.9);
$black-opacity-80: rgba(25, 25, 25, 0.8);
$black-opacity-60: rgba(25, 25, 25, 0.6);
$black-opacity-50: rgba(25, 25, 25, 0.5);
$black-opacity-40: rgba(25, 25, 25, 0.4);
$black-opacity-20: rgba(25, 25, 25, 0.2);
$black-opacity-10: rgba(25, 25, 25, 0.1);

$main-color: #2192ff;
$red: #ff6666;
$yellow: #fee102;
$green: #03cf5d;
$white: #fff;

$bg-skyblue: #cdd6ec;
$bg-gray: #f3f3f8;
